@import url('loadingPage.css');
.user {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    color: #0B132A;
}

.search {
    background-color: white;
    border: 1px solid #30415D;
    box-sizing: border-box;
    border-radius: 50px;
}

.card-encontros {
    background: #FFFFFF;
    box-shadow: 0px 2px 48px rgba(0, 0, 0, 0.08);
    border-radius: 100px;
}

.topico {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    /* identical to box height */
    letter-spacing: 0.92px;
}

.topico-img {
    margin-right: -1px;
    width: 30%;
}

.topico-desc {
    height: 115px;
    width: 60%;
}

.topico-desc h4 {
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    letter-spacing: 0.8px;
    color: #333333;
}

.topico-desc p {
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    letter-spacing: 0.57px;
    color: #77838F;
}

.popup h5 {
    font-size: 18px;
    letter-spacing: 0.4px;
}

.popup h4 {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.8px;
    color: #000000;
}

.popup h6 {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.4px;
    color: #000000;
}

.popup-resumo {
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.4px;
    color: #000000;
}

.popup-title {
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    letter-spacing: 0.8px;
    color: #333333;
}

.popup-desc {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.57px;
    color: #77838F;
}

.botao-inscricao {
    margin-top: 4em;
    margin: 4em auto 0 auto;
    width: 35%;
    background: #30415D;
    border-radius: 10px;
}

.modal-lg {
    max-width: 992px;
}