body,
html {
    height: 100%;
}

body {
    font-family: 'Rubik', sans-serif;
}

.pt-md-11,
.py-md-11 {
    padding-top: 6rem!important
}

.py-md-11 {
    padding-bottom: 6rem!important
}

.mb-6,
.my-6 {
    margin-bottom: 2rem!important
}

.mb-8 {
    margin-bottom: 3rem!important
}

.mb-md-11 {
    margin-bottom: 6rem!important
}

.pt-8,
.py-8 {
    padding-top: 3rem!important
}

.py-8 {
    padding-bottom: 3rem!important;
}

.navbar-brand-img {
    max-height: 2.5rem;
    width: auto
}

.btn-sm {
    padding: .5625rem 1rem;
    font-size: 16px;
    line-height: 0.75;
    border-radius: 50px
}

.bg-gradient-light {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f9fbfd), to(#fff));
    background-image: linear-gradient(to bottom, #f9fbfd 0, #fff 100%)
}

.nav-link {
    margin: 10px;
    font-size: 16px;
    line-height: 19px;
    color: #4F5665
}

h1 {
    font-size: 36px;
    color: #0B132A;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 14px;
}

p {
    color: #4F5665;
}

.btn-custom-start {
    border-radius: 10px;
    background: #30415D;
    width: 250px;
}

.center-vertical {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%)
}

.p-icon-custom {
    font-size: 20px;
    color: #4F5665;
}

#linha-vertical {
    border: 2px solid #EEEFF2;
}

.card-comments {
    background: #FFFFFF;
    border: 2px solid #30415D;
    box-sizing: border-box;
    border-radius: 10px;
}

footer {
    background: #F8F8F8;
}


//*cadastro de livro*//

.form-row{
    align-items: center;
    display: flex;
    position: relative;
    left: 37%;
    top: 29%;
    width: 520px;
    height: 270px;
}
.col{
    align-items: center;
    

}

#formulario{
    display: flex;
    width: fit-content;
    height: fit-content;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    

}
.botao{
    
    background-color: #30415d;
    border: 1px solid #30415d;
    transition: background-color 1s;
    width: 100px;
    height: 50px;
    border-radius: 15px;
    font-style: normal;
    margin-left: 40%;
    margin-right: 40%;
    color: #FFFFFF;
    

  }